/*cuerpo entero*/
#imagen-pag {
    background-image: url("assets/matrix.jpg");
    background-size: cover;       /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita mosaico */
    background-position: center;  /* Centrada */
    min-height: 100vh;            /* Que ocupe al menos toda la pantalla */
}
/*header: clases={navegacion},{centrar},{texto-grande}*/
.ul-nav {
    list-style: none;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 25px;
    padding: 10px;
    margin: 0; /* Evita márgenes por defecto */
    background-color: lightgray;
}

.navegacion {
    width: 100%; /* Que ocupe todo el ancho */
}

.ul-nav li a {
    text-decoration: none; /* Quitar subrayado */
    color: black; /* Color del texto */
    font-weight: bold;
}

.ul-nav li a:hover {
    color: blue; /* Color al pasar el mouse */
}


.section1{
    height: 100%; 
    width: 100%; 
    background-color: cadetblue; 
    display: flex; 
    margin-top: 20px;
}


.saludo{
    text-align: center;
    font-style: italic;
    font-size: 30px; 
}
.texto-grande{
    font-size: 24px;
    text-align: center;
    line-height: 29px;
}

